@{
    ViewBag.Title = "Aggiungi Menu";
}
<h2 style="text-align:center;">@ViewBag.Title</h2>



<style>
    input[type=text], select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    input[type=date], select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    
    input[type=submit] {
        width: 100%;
        background-color: Black;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

        input[type=submit]:hover {
            background-color: gray;
        }

   
</style>

@using(Html.BeginForm("AddMenu","Home",FormMethod.Post)) {
    <div class="Container">
        <div class="form">
            <div class="row-md-3">
                <label>Primo</label>
                <input type="text" name="_primo" placeholder="Primo " required />
            </div>
            <div class="row-md-3">
                <label>Secondo</label>
                <input type="text" name="_secondo" placeholder="Secondo " required />
            </div>
            <div class="row-md-3">
                <label>Contorno</label>
                <input type="text" name="_contorno" placeholder="Contorno" required />
            </div>
            <div class="row-md-3">
                <label>Dolce</label>
                <input type="text" name="_dolce" placeholder="Dolce " required />
            </div> <br />
            <div class="row-md-6">
                <label>Giorno</label> 
                <input type="date" name="_giorno" placeholder="Giorno " required />
            </div>
            <div class="row-md-6">
                <label>Menu per:</label> 

                <select name="_pasto">
                    <option value="Pranzo">Pranzo</option>
                    <option value="Cena">Cena</option>
                </select>
            </div>
        </div>
    </div> 



    <input type="submit" class="button" value="Inserisci Menu" style="font-size:14px;float:right;" />

}